* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}
body {
    height: 100%;
    background: #363945;
}

img {
    max-width: 320px;
    float: left;
    border: 2px solid whitesmoke;
    border-radius: 18px;
    margin-right: 2%;
    margin-bottom: 2%;
}

.wrapper{
    margin-top: 40px;
    padding-left: 40px;
    font-family: Lato;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.text-box {
    margin-left: 10px;
    color: whitesmoke;
    padding-left: 15px;
}

.text-box h2 {
    font-weight: 600;
    font-size: 30px;
    color: whitesmoke;
}


.text-box p {
    padding-top: 15px;
    font-weight: 200;
    font-size: 18px;
    color: whitesmoke;
}

.form .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    align-items: center;
    cursor: pointer;
    max-width: 250px;
}

.att {
    background-color: rgba(0, 136, 169, 1);
}

.att:hover {
    background-color: rgba(0, 136, 169, 0.8);
    transition: background-color 0.3s ease 0s;
}



