* {
    box-sizing: border-box;
}

.column {
    display: flex;
    float: left;
    width: 33.3%;
    justify-content: center;
    height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .column {
        width: 100%;
    }
}
.content{
    font-family: Lato;
    color: whitesmoke;
    width: 100%;
    text-align: left;

}

.content h1 {
    color: whitesmoke;
    font-size: 35px;
}

.content p{
    font-size: 24px;
}

.content img {
    max-width: 320px;
}