.content{
    font-family: Lato;
    color: whitesmoke;
    width: 90%;
    padding-left: 5%;
    text-align: left;
    margin-top: 20px;

}

.content h1 {
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 25px;
}

.content p{
    font-size: 16px;
}

