.content{
    font-family: Lato;
    color: whitesmoke;
    width: 60%;
    padding-left: 5%;
    text-align: left;

}

.content h1 {
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 30px;
}

.content p{
    font-size: 20px;
}