html{
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    border: 3px solid #0088a9;
}

.title {
    font-size: 28px;
    color: #0088a9;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form {
    position: relative;
}

.form .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border-radius: 10px;
    border-color: #0088a9;
    color: black;
    background-color: white;
}

.form .select {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border-radius: 10px;
    border-color: #0088a9;
    color: black;
    background-color: white;
}

.form .textarea{
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border-radius: 10px;
    border-color: #0088a9;
    color: black;
    background-color: white;
    resize: none;
}

.form .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}


.submit {
    border: none;
    outline: none;
    background-color: #0088a9;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

.submit:hover {
    background-color:rgba(0,136,169,1.1);
}