html{
    height: 100%;
}

.form {
    text-transform: uppercase;
    font-family: Lato;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    background-color: #24252a;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    border: 2px solid whitesmoke;
}

.title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 28px;
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    align-items: center;
    text-align: center;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form {
    position: relative;
}

.form a, label {
    color: whitesmoke;

}

.form .input {
    width: 100%;
    padding: 10px 10px 10px 10px;
    outline: 0;
    border-radius: 10px;
    border-color: whitesmoke;
    color: whitesmoke;
    color: grey;
}

.form .input::placeholder {
    text-transform: capitalize;
}


.form .select {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border-radius: 10px;
    border-color: whitesmoke;
    color: whitesmoke;
    background-color: #24252a;
}

.form .textarea{
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border-radius: 10px;
    border-color: whitesmoke;
    color: whitesmoke;
    background-color: #24252a;
    resize: none;
}

.form .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}


.form .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    align-items: center;
    cursor: pointer;
}


.reset {
    background-color: rgba(210, 43, 43, 1);
}

.reset:hover {
    background-color: rgba(210, 43, 43, 0.8);
    transition: background-color 0.3s ease 0s;
}

.iscriviti {
    background-color: rgba(0, 136, 169, 1);

}

.iscriviti:hover {
    background-color: rgba(0, 136, 169, 0.8);
    transition: background-color 0.3s ease 0s;
}



.login {
    background-color: rgba(0, 136, 169, 1);
}

.login:hover {
    background-color: rgba(0, 136, 169, 0.8);
    transition: background-color 0.3s ease 0s;
}
