 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


html{
    min-height: 100%;
}

*:before, *:after {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #363945;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:Copperplate;
}

img.background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
    background-image: url("../img/home.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
}

.sectionhome {
    display: flex;
    /*justify-content: space-between;*/
    font-family: "Lato";
    text-align: left;
    background-color: #24252a;
    padding: 40px;
    width: 50%;
    margin: 20px auto 0 auto;
    border-radius: 40px;
    margin-bottom: 15px;
}

.sectionhome h1 {
    font-family: "Lato";
    color: whitesmoke;
    font-size: 25px;
    margin: 0;
    padding-top: 10px;
    color: #0088a9;
    font-weight: bold;
}

.sectionhome img {
    height: auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
}

.sectionhome p {
    font-family: "Lato";
    color: whitesmoke;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 10px;

}

.container {
    height: 100%;
}

.logo {
    cursor: pointer;
}

.textlogo {
    font-family: "Monsterrat", sans-serif;
    font-weight: 700;
    color: whitesmoke;
}

.textlogo span {
    font-weight: 200;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.logotext {
    font-size: 28px;
    color: whitesmoke; /*colore scritta logo*/
    font-family: "Monsterrat", sans-serif;
}

.logotext span {
    font-weight: 250;
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
    color: #0088a9;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .img{
        width:100%;
        height: auto;
    }
}
 @media screen and (max-height: 236px){

 }

/*confirmation pop up*/
.confirmation-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    border-radius: 6px;
}

.confirmation-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 6px;
}

.confirmation-content h2 {
    margin-top: 0;
}

.confirmation-content button {
    margin-top: 10px;
    border-radius: 6px;

}

footer {
    font-family: "Lato";
    font-weight: 250;
    position: relative;
    right: 0;
    bottom: 0;
    left:0;
    text-align: center;
    padding: 20px;
    background-color: #24252a;
    margin-top: auto;
}

footer a {
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 25px;
    border-radius: 4px;
}


.sectionhome button {
    text-decoration: none;
    padding: 20px;
    display: block;
    margin: auto;
    color: #0e606e;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: whitesmoke;
    margin-bottom: 25px;
    text-transform: uppercase;
}


.sectionhome a {
    text-decoration: none;
    color:  #0e606e;
    background: whitesmoke;
}



